@import './font-icon.css';
@import './iransans.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .product-hover-shadow {
        @apply relative;
        box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
    }
}
body {
    direction: rtl;
    font-family: IRANSans, Tahoma, sans-serif;
    /*@apply text-sm;*/
    line-height: 27px;
}

a,
button {
    @apply transition-all;
}

/*#Header */

/*search box*/
.search-box {
    @apply flex relative w-full text-gray-600 focus-within:text-gray-300
    before:absolute before:block  before:inset-x-32 md:before:inset-x-8 before:rounded-full before:h-1 before:-top-0.5 before:bg-customDarkblue
    ;
}

.search-box .submit-button {
    @apply absolute inset-y-0 left-0 flex items-center pl-2;
}

.search-box button {
    @apply p-1 outline-none;
}

.search-box button .icon {
    @apply text-3xl;
}

.search-box button:hover .icon,
.search-box button:focus .icon,
.search-box button:active .icon {
    @apply text-gray-900;
}

.search-box input[type='search'],
.search-box input[type='text'] {
    @apply transition-all py-2 h-full px-4 text-sm text-white border block w-full rounded-md pl-10 focus:outline-none focus:shadow focus:bg-white focus:text-gray-900;
}

.cart-button {

    @apply md:inline-flex md:items-center md:px-4 md:py-2 md:font-semibold md:leading-6 md:text-sm md:rounded-md md:text-white md:bg-customLightblue
    md:hover:bg-customDarkblue md:ring-1 md:ring-slate-900/10;
}

.cart-button .cart-count-badge {
    @apply flex absolute h-7 w-7 text-center text-white -top-2 -right-2;
}


.cart-button .cart-count-badge .animate {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-customDarkblue opacity-75;
}

.cart-button .cart-count-badge .count {
    @apply relative inline-flex items-center rounded-full text-center h-7 w-7 shadow-2xl bg-customDarkblue;
}

.register-button {
    @apply gap-x-2 items-center px-2 border hover:bg-customLightgray text-customDarkblue font-medium rounded-md;
}

.menu-section {
    @apply col-span-12 text-white bg-customDarkblue;
}

.menu-section .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.main-menu {
    @apply col-span-10 gap-x-12 flex overflow-hidden flex-wrap relative;
}

.main-menu .divider {
    @apply relative after:w-0.5
    after:absolute
    after:bg-customLightgray
    after:h-6
    after:left-0
    after:top-3.5;
}

.nav-item {
    @apply block relative overflow-hidden;
}

.nav-link {
    @apply py-4 block relative before:absolute inset-x-0
    whitespace-nowrap
    before:mx-auto
    before:rounded-b-full
    before:h-1.5
    before:w-full
    before:bg-customLightblue
    before:transition-all before:duration-200 before:-top-1.5
    hover:before:top-0 hover:text-orange-400
    focus:before:top-0 focus:text-orange-400
    active:before:top-0 active:text-orange-400;
}

.nav-link.active,
.nav-item.current-menu-item .nav-link {
    @apply before:top-0 text-white;
}

.major-shopping-container {
    @apply col-span-2 justify-end flex items-end;
}

.major-shopping {
    @apply py-3 bg-customRed mt-2 px-3 rounded-t hover:bg-orange-500;
}

.tabs {
    @apply md:flex hidden  text-sm items-center gap-x-5 text-gray-500 flex-wrap;
}

.tabs li {
    @apply transition ease-in-out duration-150 hover:text-customDarkblue cursor-pointer;
}

.tabs .active {
    @apply relative text-customDarkblue after:w-0.5 after:mx-auto after:absolute after:bg-customLightblue after:inset-x-0 after:h-2 after:top-6;
}

.text-over-image {
    background: 0 0;
    background: -moz-linear-gradient(
            top,
            transparent 0%,
            rgba(0, 0, 0, 0.56) 100%
    );
    background: -webkit-linear-gradient(
            top,
            transparent 0%,
            rgba(0, 0, 0, 0.56) 100%
    );
    background: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.56) 100%
    );
}

.product-section-container {
    @apply mb-7 mt-24
}

.product-tabs-content {
    row-gap: 3.125rem;
    @apply grid mt-7 gap-x-6 grid-cols-12 justify-between hidden;
}

.product-tabs-content.active {
    @apply grid mt-7 gap-x-6 grid-cols-12 justify-between;
}

.product-archive-content .single-product-item,
.product-tabs-content .single-product-item {
    @apply flex rounded-md flex-wrap  border border-gray-200 p-3 transition duration-150 transform hover:product-hover-shadow;
}

.single-product-item {
    @apply before:transition-all before:ease-in-out before:duration-150 before:rounded-3xl before:bg-customLightblue before:w-0 before:h-1 before:left-1/2 before:right-1/2 before:absolute before:top-0;
    @apply hover:before:w-1/2 hover:before:left-1/4 hover:before:right-1/4
}

/*.single-product-item:hover:before {*/
/*    width: 50%;*/
/*    left: 25%;*/
/*    right: 25%;*/
/*}*/

.woocommerce a.button.add-to-cart-button, .add-to-cart-button {
    @apply border-2 bg-white p-0 flex hover:bg-customDarkblue hover:text-white transition duration-150 items-center justify-center rounded-xl border-customDarkblue text-4xl;
}

.group:hover a.button.add-to-cart-button, .woocommerce a.button.add-to-cart-button:hover, .add-to-cart-button:hover {
    @apply bg-customDarkblue text-white;
}

.custom-btn-secondary-outline {
    @apply md:border leading-8 hover:bg-customLightblue hover:text-white transition ease-in-out duration-150 w-full rounded-md text-sm border-customLightblue text-customLightblue px-3 text-center;
}

.pagination-container {
    @apply flex justify-evenly w-full;
}

.pagination-container .page,
.pagination-container .current,
.pagination-container .next-link,
.pagination-container .pages-container,
.pagination-container .wp-pagenavi,
.pagination-container .prev-link {
    @apply flex justify-evenly items-center border border-customDarkWhite rounded-md px-3 py-2 gap-3
}

.pagination-container .page:hover,
.pagination-container .page:focus,
.pagination-container .current,
.wp-pagenavi span.current {
    @apply bg-customLightblue text-white border-transparent;
}

.pagination-container .wp-pagenavi .extend {
    @apply flex flex-wrap w-full justify-center gap-4 border-none
}


.crooked-line:before {
    position: absolute;
    content: var(--tw-content);
    left: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-left: 20px solid transparent;
}

.crooked-line:after {
    position: absolute;
    content: var(--tw-content);
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-right: 20px solid transparent;
}

.footer-list ul {
    margin-right: 25px;
}

.footer-list li {
    @apply text-white mt-1 before:transition before:ease-in-out relative before:absolute before:h-2 items-center cursor-pointer hover:before:bg-customLightblue before:-right-6 before:my-auto before:inset-y-0 before:w-3 before:bg-customGray;
}


.news-letter {
    @apply relative w-full text-gray-600 focus-within:text-gray-300
    before:w-2 before:h-2 before:rounded-full before:absolute before:bg-customLightblue before:right-4 before:top-6
    ;
}

.news-letter .submit-button button {
    @apply absolute justify-center inset-y-2.5 left-2.5 flex items-center px-4 bg-customLightblue transition ease-linear
    rounded-md text-black
    hover:bg-customDarkblue hover:text-customLightblue
    focus:bg-customDarkblue focus:text-customLightblue
}

.news-letter button {
    @apply p-1 outline-none;
}

.news-letter button .icon {
    @apply text-3xl;
}

.news-letter button:hover .icon,
.news-letter button:focus .icon,
.news-letter button:active .icon {
    @apply text-gray-900;
}

.news-letter input[type='search'],
.news-letter input[type='email'],
.news-letter input[type='text'] {
    @apply pl-40 pr-8 transition transition-all ease-linear py-1 h-full text-sm text-white border block w-full rounded-md pl-10 bg-transparent placeholder-customGray
    focus:outline-none focus:bg-white focus:text-gray-900 focus:bg-transparent focus:text-white focus:border-customLightblue
}

.btn-custom-white {
    @apply transition ease-in-out duration-150 hover:bg-customDarkblue hover:text-white rounded-md p-2 px-4 justify-center flex cursor-pointer text-base text-customDarkblue bg-white;
}

.btn-custom-white.active {
    @apply bg-customDarkblue text-white
}

.btn-custom-dark-blue {
    @apply transition ease-in-out duration-150 bg-customDarkblue hover:bg-white hover:text-customDarkblue text-white rounded-md p-2 px-4 justify-center flex cursor-pointer text-base;
}

.btn-custom-outline-dark-blue {
    @apply relative transition ease-in-out border-2 border-customDarkblue duration-150 hover:bg-customDarkblue hover:text-white rounded-md p-2 px-4 justify-center flex cursor-pointer text-base;
}

.btn-custom-outline-dark-blue.active {
    @apply before:absolute before:w-5 before:h-5 before:top-0 before:right-1.5 before:content-lines bg-customDarkblue text-white;
}

.section-title {
    @apply text-customBlack;
    font: normal bold 22px/30px "IRANSans", Tahoma, sans-serif;
    @apply after:md:block after:hidden after:w-0.5 after:absolute after:bg-gray-600 after:h-6 after:left-0 after:top-1 after:mx-14
}

.heading-with-icon{
    @apply text-customBlack pr-11 relative mt-36 mb-11 before:content-horizontalLines before:absolute before:right-0 before:top-0;
    font: normal bold 22px/30px "IRANSans", Tahoma, sans-serif;
}

.front-brands-title {
    @apply text-2xl text-white;
}

.shop-banners-container,
.shop-top-categories-container {
    @apply mx-auto pt-7 pb-16 px-4 sm:px-6 lg:px-8
}

.shop-top-categories-container .categories-list {
    @apply flex flex-wrap gap-x-3 gap-y-1 w-full
}

.shop-top-categories-container .categories-list .item {
    @apply relative transition ease-in-out border-2 border-customDarkblue duration-150
    rounded-md p-2 px-4 justify-center flex cursor-pointer text-base
    hover:bg-customDarkblue
    hover:text-white
    hover:before:absolute hover:before:w-5 hover:before:h-5 hover:before:top-0 hover:before:right-1.5 hover:before:content-lines
}

.horizontalLines {
    @apply relative
    before:relative before:w-5 before:h-5 before:right-0 before:block before:pt-2 before:content-horizontalLines;
}

.darkHorizontalLines {
    @apply relative before:absolute before:w-5 before:h-5 before:top-0 before:-right-9 before:content-darkHorizontalLines;
}

.brand-adv-small {
    @apply col-span-1 row-span-1 overflow-hidden rounded-md;
}

.brand-adv-large {
    @apply col-span-1 row-span-2 overflow-hidden rounded-md;
}

.h-280 {
    height: 280px;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: #f5f5f5; /* color of the tracking area */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9195a0; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /*border: 3px solid orange;  !* creates padding around scroll thumb *!*/
}

/* Toggle A */
input:checked ~ .dot {
    transform: translateX(140%);
    background-color: #fff;
}

input:checked ~ .parent {

    background-color: #50a8ea;
}

.archive-title {
    @apply flex items-center justify-center w-full gap-3 flex-row mb-16
}

.post-item {

}

.post-item .post-image-container {
    @apply relative overflow-hidden block w-full rounded-md;
    @apply before:bg-gradient-to-b before:from-transparent before:to-customDarkblue before:block before:absolute
    before:h-full before:w-full before:opacity-0 before:top-0 before:left-0 before:z-10 before:transition-all
    hover:before:opacity-100 after:p-4 after:rounded-2xl after:bg-customDarkWhite/70;
    z-index: 1;
}

.post-item .post-image-container:after {
    @apply absolute transition-all ease-in-out duration-150 right-1/2
    bg-logo-image z-20 translate-x-1/2
    bg-no-repeat bg-center;
    width: 190px;
    height: 110px;
    display: block;
    top: -110px;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.post-item .post-image-container:hover:after,
.post-item .post-image-container:focus:after {
    top: calc(50% - 55px);
}

.post-item .meta-data {
    @apply bottom-0 text-white flex flex-nowrap justify-between opacity-0 p-3 absolute transition-all w-full z-10;
}

.post-item .post-image-container:hover .meta-data {
    @apply opacity-100
}

.post-item .post-title {
    @apply mt-7 text-lg pr-6 relative text-customDarkblue before:absolute before:w-4 before:h-2 before:bg-customLightblue before:right-0 before:top-3
}

.post-item .post-text {
    @apply mt-4 text-justify font-light text-sm;
}

.breadcrumb-container {
    @apply bg-customDarkblue text-white p-3 rounded-t-lg flex bottom-0
}

.breadcrumb-container .breadcrumb-title {
    @apply whitespace-nowrap pl-10;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item {
    @apply before:float-right before:pr-2 before:pl-0 before:text-customLighterMediumGray before:text-xl;
}

.breadcrumb-container .breadcrumb-item i {
    @apply align-bottom leading-7 pr-4 pl-1 text-3xl text-customGray float-right
}

.breadcrumb-item:hover a,
.breadcrumb-item a:hover, .breadcrumb-item a:focus {
    @apply text-customLightblue;
}

.breadcrumb-item + .breadcrumb-item:before {
    @apply absolute
}

.call-to-action-container {
    @apply bg-customLightgray text-customDarkblue flex rounded-t-md p-3 bottom-0 text-sm justify-between items-center
}

/*woocommerce*/
.woocommerce .category-title {
    @apply horizontalLines text-customDarkblue cursor-pointer text-xl font-light leading-7
}

.woocommerce .category-description {
    @apply text-xs text-gray-500 leading-7 text-justify line-clamp-3;
}

.woocommerce .scroll-to-products {
    @apply bg-customLightblue absolute left-1/2 -ml-3.5 -bottom-2.5 w-7 h-5 flex justify-center items-center
}

.error-title {
    @apply text-customLightblue font-bold mb-4;
    font-size: 130px;
    line-height: 175px;
}

.return-to-home {
    @apply flex flex-col justify-center items-center text-customDarkblue text-lg mt-8 mb-20;
}

.return-to-home .icon {
    @apply text-customBlack block text-xl;
}

.single-post {

}

.single-post h1.post-title {
    @apply relative text-customDarkblue mr-10 text-xl font-light leading-7 before:content-horizontalLines before:absolute before:-right-8 before:top-0;
}

.single-post .single-content {
    @apply bg-customDarkblue/5 border border-customLightgraytwo gap-4 grid grid-cols-12 p-6 px-9 relative rounded-md w-full;
}

.single-post .single-top-container {
    @apply grid grid-cols-12 gap-4 col-span-12 w-full;
}

.single-post .single-meta-container {
    @apply block flex-wrap col-span-7 pl-8;

}
.single-post .single-meta-container .meta-title{
    @apply flex font-bold text-customMediumGray text-xs;
}
.single-post .single-meta-container .meta-value{
    @apply flex text-xs text-customGray;
}
.single-post .single-meta-container .meta-value .separator{
    @apply bg-customLightblue w-1 h-1 rounded my-2 mx-1;
}
.single-post .single-meta-container .meta-value a{
    @apply text-customBlack hover:text-customDarkblue focus:text-customDarkblue;
}

.single-post .single-meta-container .social-share-list{
    @apply flex gap-4
}


.single-post .single-image-container {
    @apply flex flex-wrap col-span-5 overflow-hidden -mt-24 -ml-6 mr-6 rounded-md;
}

.single-post .post-content {
    @apply block flex-wrap col-span-12 text-base;
}

.comments-area{
    @apply mt-20 mx-auto px-4 sm:px-6 lg:px-44
}

.comments-area .comment-form{
    @apply flex w-full flex-row
}

.comments-area .comment-form-container{
    @apply rounded-md py-10 px-12 bg-customDarkblue/5
}
header .icon-trolley{
    @apply text-5xl
}
.paginate-btn.active{
    @apply border-customDarkWhite bg-customLightblue text-white
}
.paginate-btn{
    @apply flex border border-customDarkWhite rounded-md p-2 px-3 gap-2 text-customGray hover:bg-customLightblue transition ease-in-out hover:text-white
}
.min-w-1\/2 {
    min-width: 50%;
}
.w-388{
    width: 388px;
}