@import './font-icon.css';
@import './iransans.css';
@import 'owl.carousel/dist/assets/owl.carousel.css';
@import 'owl.carousel/dist/assets/owl.theme.default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .product-hover-shadow {
        @apply relative;
        box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
    }
}
body {
    direction: rtl;
    font-family: IRANSans, Tahoma, sans-serif;
    /*@apply text-sm;*/
    line-height: 27px;
}

a,
button {
    @apply transition-all;
}

/*#Header */

header .nav-container > div {
    @apply border-t border-customDarkblue rounded-b border-t-[3px]
}

img.custom-logo {
    @apply transform scale-125
    /*transform: scale(1.3);*/
}

footer.site-footer {
    @apply !bg-customMediumGray w-full overflow-hidden
}

.logo-container {
    @apply mb-0.5
}

/*search box*/
.search-box {
    @apply relative w-full text-gray-600 focus-within:text-gray-300
    before:absolute before:block before:inset-x-4 md:before:inset-x-8 before:rounded-full before:h-1 before:-top-0.5 before:bg-customDarkblue
}

.search-box .submit-button {
    @apply absolute inset-y-0 left-0 flex items-center pr-2 justify-center;
}

.search-box button {
    @apply p-1.5 outline-none flex justify-center items-center
}

.search-box button .icon {
    @apply text-3xl text-gray-400;
}

.search-box button:hover .icon,
.search-box button:focus .icon,
.search-box button:active .icon {
    @apply text-customDarkblue
}

.search-box input[type='search'],
.search-box input[type='text'] {
    @apply transition-all py-2.5 h-full px-4 text-sm border border-customLightgray2 block w-full rounded-five pl-10
    focus:outline-none focus:shadow focus:bg-white focus:text-gray-900
}

.search-box.search-brands {
    @apply before:top-4 before:rounded-none before:h-2 before:w-3 before:-right-6 before:bg-customLightblue
}

.search-box.search-brands input[type='search'],
.search-box.search-brands input[type='text'] {
    @apply border-customDarkblue
}


.woocommerce button.single_add_to_cart_button, .cart-button, .woocommerce button.cart-button.disabled {
    @apply md:inline-flex md:items-center md:px-4 md:py-1 md:font-normal md:leading-6 md:text-base md:rounded-md md:text-white md:bg-customLightblue
    md:hover:bg-customDarkblue md:ring-1 md:ring-slate-900/10;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    @apply bg-customLightblue;
}

.cart-button .cart-count-badge {
    @apply flex absolute h-7 w-7 text-center text-white -top-2 -right-3 overflow-hidden md:overflow-visible;
}


.cart-button .cart-count-badge .animate {
    @apply animate-ping absolute hidden md:inline-flex h-full w-full rounded-full bg-customDarkblue opacity-75 ;
}

.cart-button .cart-count-badge .count {
    @apply relative inline-flex items-center rounded-full text-center h-7 w-7 shadow-2xl bg-customDarkblue text-base;
    font-family: "IRANSans", Tahoma, sans-serif;
}

.register-button {
    @apply gap-x-2 items-center px-2 border hover:bg-customLightgray text-customDarkblue font-light rounded-five;
}

.menu-section {
    @apply col-span-12 text-white bg-customDarkblue;
}

.menu-section .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.main-menu {
    @apply col-span-10 gap-x-12 flex flex-wrap relative;
}

.main-menu .divider {
    @apply relative
    -mx-6
    after:w-0.5
    after:absolute
    after:bg-white/40
    after:h-5
    after:left-0
    after:top-3;
}

.main-menu .nav-item {
    @apply block relative;
}

.main-menu .nav-link {
    @apply overflow-hidden text-base block relative before:absolute inset-x-0
    whitespace-nowrap
    before:mx-auto
    before:rounded-b-full
    before:h-1.5
    before:w-full
    before:bg-customLightblue
    before:transition-all before:duration-200 before:-top-1.5
    hover:before:top-0 hover:text-orange-400
    focus:before:top-0 focus:text-orange-400
    active:before:top-0 active:text-orange-400;
    line-height: 45px;
}

.main-menu .nav-item.small-text, .main-menu .nav-item.small-text .nav-link {
    @apply !text-base_12
}

.main-menu .nav-link.active,
.main-menu .nav-item.current-menu-item .nav-link {
    @apply before:top-0 text-white;
}

.main-menu .menu-item .dropdown-menu {
    @apply invisible opacity-0 absolute right-0 rounded-five shadow w-48 bg-white leading-6 top-40 transition transition-all duration-200 px-2.5
}

.main-menu .menu-item:hover .dropdown-menu {
    @apply visible opacity-100 top-full
}

.main-menu .menu-item .dropdown-toggle {
    @apply md:hidden
}

.main-menu .menu-item .dropdown-menu .nav-item,
.main-menu .menu-item .dropdown-menu li {
    @apply border-b border-b-customDarkblue relative
    last:after:rounded-five last:after:h-[5px] last:after:w-full last:after:absolute last:after:bg-customDarkblue last:after:-bottom-[4px]
}

.main-menu .menu-item .dropdown-menu .nav-link,
.main-menu .menu-item .dropdown-menu a {
    @apply block pt-2.5 pb-4 text-base transition transition-all duration-200 font-normal text-customDarkblue hover:font-bold
}


.major-shopping-container {
    @apply col-span-2 justify-end flex items-end;
}

.major-shopping {
    @apply py-1.5 bg-customRed mt-2 px-4 rounded-t hover:bg-orange-500 text-base
}

.menu-toggle {
    @apply md:hidden flex;
}

.mobile-menu-section {
    @apply opacity-0 invisible bg-white fixed left-0 right-0 -top-full max-h-fit flex md:hidden flex-col z-999 transition transition-all duration-300
}

.mobile-menu-section.show {
    @apply opacity-100 visible top-0
}

.mobile-menu {
    @apply flex flex-col flex-wrap
}

.mobile-menu .menu-item {
    @apply block p-0 relative
}

.mobile-menu .menu-item a {
    @apply block text-customDarkblue py-3 border-b border-customLightgray hover:text-customRed hover:border-customBlack
}

.mobile-menu .menu-item .dropdown-toggle {
    @apply pt-2.5 block md:hidden h-12 left-0 absolute top-0 w-12 leading-10 text-center text-3xl before:content-['+'] text-customDarkblue
}

.mobile-menu .menu-item .dropdown-toggle.show {
    @apply before:content-['-']
}

.mobile-menu .menu-item .dropdown-menu {
    @apply hidden;
}

.mobile-menu .menu-item .dropdown-menu.show {
    @apply block pr-4
}

.mobile-menu-section .login-button {
    @apply w-full rounded-five text-center py-2 px-6 block bg-customDarkblue text-customLightblue hover:bg-customLightblue hover:text-white;
}

.mobile-menu-section .register-button {
    @apply rounded-five w-full text-center py-2 px-6 block bg-customGray text-customDarkblue hover:bg-customLightblue hover:text-white;
}

.mobile-menu-section .profile-button {
    @apply w-full text-center py-2 px-6 block bg-customDarkblue text-customLightblue hover:bg-customLightblue hover:text-white  rounded-md;
}

.mobile-menu-backdrop {
    @apply opacity-0 invisible bg-customDarkblue fixed top-0 bottom-0 left-0 right-0 z-998 transition transition-all
}

.mobile-menu-backdrop.show {
    @apply opacity-50 visible
}

.mobile-menu .menu-item.divider {
    @apply p-0 h-0 border-b border-customLightgray;
}


.tabs {
    @apply md:flex hidden text-base gap-x-12 text-gray-500 flex-wrap font-light
}

.tabs li {
    @apply transition ease-in-out duration-150 hover:text-customDarkblue cursor-pointer;
}

.tabs .active {
    @apply relative font-bold text-customDarkblue after:w-0.5 after:mx-auto after:absolute after:bg-customLightblue after:inset-x-0 after:h-2 after:top-6;
}

.text-over-image {
    background: 0 0;
    background: -moz-linear-gradient(
            top,
            transparent 0%,
            rgba(0, 0, 0, 0.56) 100%
    );
    background: -webkit-linear-gradient(
            top,
            transparent 0%,
            rgba(0, 0, 0, 0.56) 100%
    );
    background: linear-gradient(
            to bottom,
            transparent 0%,
            rgba(0, 0, 0, 0.56) 100%
    );
}

.product-section-container {
    @apply md:mb-7 md:mt-24
}

.product-tabs-content {
    /*row-gap: 3.125rem;*/
    @apply hidden gap-y-6;
}

.product-tabs-content.active {
    @apply flex mt-5 -mx-4 p-4 gap-x-6 md:grid-cols-12 justify-between md:grid md:mt-7 overflow-x-auto md:overflow-x-hidden
}

.product-archive-content .single-product-item,
.product-tabs-content .single-product-item {
    min-width: 65% !important;
    @apply w-full flex-grow flex rounded-md flex-wrap border border-gray-200 p-3 transition duration-150 transform hover:product-hover-shadow min-w-fit
}

.single-product-item {
    @apply before:transition-all before:ease-in-out before:duration-150 before:rounded-3xl before:bg-customLightblue before:w-0 before:h-1 before:left-1/2 before:right-1/2 before:absolute before:top-0;
    @apply hover:before:w-1/2 hover:before:left-1/4 hover:before:right-1/4;
}

.single-product-item .image-container {
    @apply relative pb-8 after:h-0.5 after:bg-customDarkblue/30 after:w-3/4 after:absolute after:left-[12.5%] after:bottom-4
}

.single-product-item .product-title {
    @apply text-base font-normal mb-4
}

.single-product-item .product-brands-list {
    @apply mb-4 flex cursor-pointer text-orange-500 text-sm justify-end w-full;
    line-height: 1rem;
}

.single-product-item .price-removed {
    @apply flex line-through text-gray-700 text-lg font-bold w-full whitespace-nowrap md:whitespace-normal mb-2
}

.single-product-item .price-removed span {
    @apply after:content-[attr(data-after)] after:text-xs after:left-0 after:font-light  items-center relative
}

.single-product-item .product-price {
    @apply flex gap-x-4 items-center justify-start text-gray-700 text-lg font-bold w-full;
}

.single-product-item .product-price > span {
    @apply after:content-[attr(data-after)] after:text-xs after:font-light after:left-0 text-customLightblue items-center relative
}

.single-product-item .product-price .add-to-cart-button {
    @apply mr-auto
}

/*.single-product-item:hover:before {*/
/*    width: 50%;*/
/*    left: 25%;*/
/*    right: 25%;*/
/*}*/

.woocommerce a.button.add-to-cart-button, .add-to-cart-button {
    border: inherit;
    @apply !border !border-2 bg-white p-0 flex hover:bg-customDarkblue hover:text-white transition duration-150 items-center justify-center rounded-five border-customDarkblue text-4xl;
}

.group:hover a.button.add-to-cart-button, .woocommerce a.button.add-to-cart-button:hover, .add-to-cart-button:hover {
    @apply bg-customDarkblue text-white;
}

.custom-btn-secondary-outline {
    @apply md:border text-base font-light leading-[40px] hover:bg-customLightblue hover:text-white transition ease-in-out duration-150 w-full rounded-five border-customLightblue text-customLightblue px-3 text-center
}

.pagination-container {
    @apply flex justify-evenly w-full;
}

.pagination-container .page,
.pagination-container .current,
.pagination-container .next-link,
.pagination-container .pages-container,
.pagination-container .wp-pagenavi,
.pagination-container .prev-link {
    @apply flex justify-evenly items-center border border-customDarkWhite rounded-md px-3 py-2 gap-3
}

.pagination-container .page:hover,
.pagination-container .page:focus,
.pagination-container .current,
.wp-pagenavi span.current {
    @apply bg-customLightblue text-white border-transparent;
}

.pagination-container .wp-pagenavi .extend {
    @apply flex flex-wrap w-full justify-center gap-4 border-none
}


.crooked-line:before {
    position: absolute;
    content: var(--tw-content);
    left: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-left: 20px solid transparent;
}

.crooked-line:after {
    position: absolute;
    content: var(--tw-content);
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-right: 20px solid transparent;
}

.footer-list ul {
    @apply mt-4;
    margin-right: 25px;
}

.footer-list li {
    @apply text-white before:transition before:ease-in-out relative before:absolute before:h-2 items-center cursor-pointer hover:before:bg-customLightblue before:-right-6 before:my-auto before:inset-y-0 before:w-3 before:bg-customGray;
    @apply text-base_14 leading-25 mb-14px;
}


.news-letter {
    @apply h-12 relative w-full text-gray-600 focus-within:text-gray-300
    before:w-2 before:h-2 before:rounded-full before:absolute before:bg-customLightblue before:right-4 before:top-5
}

.news-letter .submit-button button {
    @apply absolute justify-center inset-y-2.5 left-2.5 flex items-center px-4 bg-customLightblue transition ease-linear
    rounded-five text-black
    hover:bg-customDarkblue hover:text-customLightblue
    focus:bg-customDarkblue focus:text-customLightblue
}

.news-letter button {
    @apply p-2 outline-none;
}

.news-letter button .icon {
    @apply text-3xl;
}

.news-letter input[type='email'],
.news-letter input[type='text'] {
    @apply pl-40 pr-8 transition transition-all ease-linear py-0.5 h-full text-sm text-white border block w-full rounded-md bg-transparent placeholder-customGray
    focus:outline-none focus:bg-white focus:text-gray-900 focus:bg-transparent focus:text-white focus:border-customLightblue focus:placeholder-transparent
}

.btn-custom-white {
    @apply transition ease-in-out duration-150 hover:bg-customDarkblue hover:text-white rounded-md p-2 px-4 justify-center flex cursor-pointer text-base text-customDarkblue bg-white;
}

.btn-custom-white.active {
    @apply bg-customDarkblue text-white
}

.btn-custom-dark-blue {
    @apply transition ease-in-out duration-150 bg-customDarkblue hover:bg-white hover:text-customDarkblue text-white rounded-md p-2 px-4 justify-center flex cursor-pointer text-base;
}

.btn-custom-outline-dark-blue {
    @apply relative transition ease-in-out border-2 border-customDarkblue duration-150 hover:bg-customDarkblue hover:text-white rounded-md p-2 px-4 justify-center flex cursor-pointer text-base;
}

.btn-custom-outline-dark-blue.active {
    @apply before:absolute before:w-5 before:h-5 before:top-0 before:right-1.5 before:content-lines bg-customDarkblue text-white;
}

.section-title {
    @apply text-customBlack font-bold text-base_17 md:text-xl relative
}

.product-tabs .section-title {
    @apply md:pl-[100px] after:hidden md:after:block after:w-0.5 after:absolute after:bg-gray-600 after:h-6 after:left-0 after:top-1 after:mx-[50px]
}

.heading-with-icon {
    @apply text-customBlack pr-11 relative mt-36 mb-11 before:content-horizontalLines before:absolute before:right-0 before:top-0;
    font: normal bold 22px/30px "IRANSans", Tahoma, sans-serif;
}

.front-brands-title {
    @apply text-2xl text-white mt-7;
}

.shop-banners-container,
.shop-top-categories-container {
    @apply mx-auto pt-7 pb-16 px-4 sm:px-6 lg:px-8
}

.shop-top-categories-container .categories-list {
    @apply flex flex-nowrap overflow-auto pb-3 md:pb-0 md:overflow-visible md:flex-wrap gap-x-3 gap-y-1 w-full
}

.shop-top-categories-container .categories-list .item {
    @apply relative transition ease-in-out border-2 border-customDarkblue duration-150 whitespace-nowrap
    rounded-md p-2 px-4 justify-center flex cursor-pointer text-base
    hover:bg-customDarkblue
    hover:text-white
    hover:before:absolute hover:before:w-5 hover:before:h-5 hover:before:top-0 hover:before:right-1.5 hover:before:content-lines
}

.horizontalLines {
    @apply relative
    before:relative before:md:top-0 before:-top-1.5 before:right-0 before:block before:pt-2 before:content-horizontalLines;
}

.darkHorizontalLines {
    @apply relative before:absolute before:w-5 before:h-5 before:top-0 before:-right-9 before:content-darkHorizontalLines;
}

.brand-adv-small {
    @apply col-span-1 row-span-1 overflow-hidden rounded-md;
}

.brand-adv-large {
    @apply col-span-1 row-span-2 overflow-hidden rounded-md;
}

.h-280 {
    height: 280px;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: #f5f5f5; /* color of the tracking area */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9195a0; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /*border: 3px solid orange;  !* creates padding around scroll thumb *!*/
}

/* Toggle A */
input:checked ~ .dot {
    transform: translateX(140%);
    background-color: #fff;
}

input:checked ~ .parent {

    background-color: #50a8ea;
}

.archive-title {
    @apply flex items-center justify-center w-full gap-3 flex-row mb-16
}

.post-item {

}

.post-item .post-image-container {
    @apply relative overflow-hidden block w-full rounded-md;
    @apply before:bg-gradient-to-b before:from-transparent before:to-customDarkblue before:block before:absolute
    before:h-full before:w-full before:opacity-0 before:top-0 before:left-0 before:z-10 before:transition-all
    hover:before:opacity-100 after:p-4 after:rounded-2xl after:bg-customDarkWhite/70;
    z-index: 1;
}

.post-item .post-image-container:after {
    @apply absolute transition-all ease-in-out duration-150 right-1/2
    bg-logo-image z-20 translate-x-1/2
    bg-no-repeat bg-center;
    width: 190px;
    height: 110px;
    display: block;
    top: -110px;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.post-item .post-image-container:hover:after,
.post-item .post-image-container:focus:after {
    top: calc(50% - 55px);
}

.post-item .meta-data {
    @apply bottom-0 text-white flex flex-nowrap justify-between opacity-0 p-3 absolute transition-all w-full z-10;
}

.post-item .post-image-container:hover .meta-data {
    @apply opacity-100
}

.post-item .post-title {
    @apply mt-7 text-lg pr-6 relative text-customDarkblue before:absolute before:w-4 before:h-2 before:bg-customLightblue before:right-0 before:top-3
}

.post-item .post-text {
    @apply mt-4 text-justify font-light text-sm;
}

.articles-container .article-title {
    @apply text-base font-bold md:font-medium overflow-hidden line-clamp-1
}

.articles-container .article-excerpt {
    @apply text-justify text-sm line-clamp-2;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 4;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.articles-container .date-day {
    @apply font-bold flex h-full border-b-2 border-gray-100 row-span-1 items-center justify-center
}

.articles-container .date-month {
    @apply font-bold flex h-full row-span-1 items-center justify-center
}

.is-mobile .breadcrumb-container {
    @apply overflow-x-auto
}

.is-mobile .breadcrumb {
    @apply flex whitespace-nowrap
}

.is-mobile .breadcrumb-item {
    @apply flex;
}

.breadcrumb-container {
    @apply bg-customDarkblue text-white p-3 md:rounded-t-lg flex bottom-0 -mx-4 md:mx-0 text-sm
}

.breadcrumb {
    @apply overflow-x-auto overflow-y-hidden whitespace-nowrap leading-8
}

.breadcrumb::-webkit-scrollbar {
    @apply w-1 h-1
}

.breadcrumb::-webkit-scrollbar,
.breadcrumb::-webkit-scrollbar-button,
.breadcrumb::-webkit-scrollbar-track-piece,
.breadcrumb::-webkit-scrollbar-thumb {
    @apply bg-customMediumGray/10
}

.breadcrumb-container .breadcrumb-title {
    @apply whitespace-nowrap md:pl-[45px] leading-8;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item {
    @apply before:float-right before:pr-2 before:pl-0 before:text-customLighterMediumGray before:text-xl;
}

.breadcrumb-container .breadcrumb-item i {
    @apply align-bottom leading-7 pr-4 pl-1 text-3xl text-customGray float-right
}

.breadcrumb-item:hover a,
.breadcrumb-item a:hover, .breadcrumb-item a:focus {
    @apply text-customLightblue;
}

.breadcrumb-item + .breadcrumb-item:before {
    @apply absolute
}

.call-to-action-container {
    @apply bg-customLightgray text-customDarkblue hidden md:flex md:rounded-t-md p-3 bottom-0 text-sm justify-between items-center
}

/*woocommerce*/
.woocommerce .category-title {
    @apply horizontalLines text-customDarkblue flex gap-2.5 md:gap-6 md:text-lg font-medium text-[17px] md:before:-top-1.5
}

.woocommerce .category-description {
    @apply hidden md:block text-xs text-gray-500 leading-7 text-justify line-clamp-3
}

.woocommerce .description-container {
    @apply py-5 px-7 mt-36 rounded-five border border-customGray text-customGray text-base_12 leading-6

}

.woocommerce .description-container p {
    @apply mb-4
}

.woocommerce .description-container .title {
    @apply horizontalLines text-customDarkblue flex gap-2.5 md:gap-6 md:text-lg font-medium text-[17px] md:before:-top-1.5
}

.woocommerce .faq-container {
    @apply my-4
}

.woocommerce .faq-container .faq-item {
    @apply rounded-five border py-2 px-8 border-customBlack/20 mt-3
}

.woocommerce .faq-container .faq-item.active {
    @apply border-customDarkblue
}

.woocommerce .faq-container .faq-item .question {
    @apply text-base text-customBlack leading-[46px]
}

.woocommerce .faq-container .faq-item .question-icon {

}

.woocommerce .faq-container .faq-item.active .question {
    @apply pt-2.5 pb-3
}

.woocommerce .faq-container .faq-item .answer {
    @apply text-base_12 text-customGray h-0 opacity-0 invisible transition transition-all duration-300
}

.woocommerce .faq-container .faq-item.active .answer {
    @apply h-auto transition transition-all duration-300 opacity-100 visible
}

.woocommerce .faq-container .faq-item .answer-icon {

}

.woocommerce .scroll-to-products {
    @apply hidden md:flex bg-customLightblue absolute left-1/2 -ml-3.5 -bottom-2.5 w-7 h-5 flex justify-center items-center
}

.error-title {
    @apply text-customLightblue font-bold mb-4 text-[130px] leading-[175px]
}

.return-to-home {
    @apply flex flex-col justify-center items-center text-customDarkblue text-lg mt-8 mb-20;
}

.return-to-home .icon {
    @apply text-customBlack block text-xl;
}

.single-post {

}

.single-post h1.post-title {
    @apply relative text-customDarkblue mr-10 text-xl font-light leading-7 before:content-horizontalLines before:absolute before:-right-8 before:top-0;
}

.single-post .single-content {
    @apply md:bg-customDarkblue/5 bg-white md:border border-0 border-customLightgraytwo gap-4 grid grid-cols-12 md:py-6 md:px-9 py-6 relative rounded-md w-full;
}

.single-post .single-top-container {
    @apply grid grid-cols-12 gap-4 col-span-12 w-full;
}

.single-post .single-meta-container {
    @apply block flex-wrap col-span-12 md:col-span-7 md:pl-8 p-0 order-2 md:order-1;

}

.single-post .single-meta-container .meta-title {
    @apply flex font-bold text-customMediumGray text-xs;
}

.single-post .single-meta-container .meta-value {
    @apply flex text-xs text-customGray;
}

.single-post .single-meta-container .meta-value .separator {
    @apply bg-customLightblue w-1 h-1 rounded my-2 mx-1;
}

.single-post .single-meta-container .meta-value a {
    @apply text-customBlack hover:text-customDarkblue focus:text-customDarkblue;
}

.single-post .single-meta-container .social-share-list {
    @apply flex gap-4
}


.single-post .single-image-container {
    @apply flex flex-wrap col-span-12 md:col-span-5 overflow-hidden md:-mt-24 md:-ml-6 md:mr-6 m-0 rounded-md order-1 md:order-2;
}

.single-post .post-content {
    @apply block flex-wrap col-span-12 text-base;
}

.single-post .comments-area {
    @apply mt-20 mx-auto px-4 sm:px-6 lg:px-36
}

.page-title-center,
.comments-area .title-container {
    @apply mx-auto flex justify-center items-center col-span-12
}

.page-title-center h1 {
    @apply !mt-4 !mb-4
}

.comments-area .comment-reply-title {
    @apply mt-14 mb-16
}

.comments-area .comment-respond {
    @apply rounded-md py-10 px-12 bg-customDarkblue/5
}

.comments-area .comment-form {
    @apply grid gap-y-5 gap-x-6 grid-cols-1 md:grid-cols-3
}

.comments-area .comment-form .logged-in-as,
.comments-area .comment-form .author-detail {
    @apply flex col-span-1 relative flex-col
}

.comments-area .comment-form .comment-textbox {
    @apply flex col-span-2 relative flex-col
}

.comments-area .comment-form .author-detail {
    @apply gap-5 placeholder-customGray
}

.comments-area .comment-form .form-control {
    @apply bg-white px-4 py-2 rounded-five border border-customLightGray w-full h-full
    focus:border-customDarkblue focus:outline-none
    focus-visible:border-customDarkblue focus-visible:outline-none
}

.comment-form .form-group {
    @apply relative
}

.comment-form .form-group span.svg-icon {
    @apply absolute top-4 left-4;
}

.comments-area .comment-form .author-detail [name='author'] {

}

.comments-area .comment-form .author-detail [name='email'] {
}

.comments-area .comment-form .author-detail [name='phone'] {
}

.comments-area .comment-form .comment-textbox textarea {
    max-height: 190px;
}

.comments-area .comment-form .form-submit {
    @apply flex col-span-3 relative justify-end items-end
}

.comments-area .comment-form .form-submit button.submit {
    @apply py-2 px-4 rounded-five cursor-pointer bg-customDarkblue text-white border border-r-transparent
    hover:bg-customRed hover:text-white hover:outline-none
    focus:bg-customRed focus:text-white focus:outline-none
}

.commentlist-container {
    @apply mt-12 mb-20 rounded-md py-10 px-12 md:bg-customDarkblue/5 bg-white grid gap-y-5 gap-x-6
}

.commentlist-container article.comment {
    @apply flex flex-col md:flex-row md:flex-nowrap mb-11 md:mb-16;
}

.comment .comment-meta-first {
    @apply flex-grow md:flex-1 w-full md:w-1/4 md:border-l border-0 border-customLightgraytwo text-center flex flex-col p-4 md:pl-12
}

.comment .comment-content {
    @apply flex-grow md:flex-auto w-full md:w-3/4 p-8 text-sm;
}

.comment .comment-content .comment-awaiting-moderation {
    @apply p-1 bg-customLightblue/10 border border-customLightblue rounded text-customDarkblue
}

.comment .children {
    @apply relative pr-14 before:absolute before:text-4xl before:text-customDarkblue before:top-4 before:right-0
}

.comment .children:before {
    content: "\e964";
    font-family: 'fonticon' !important;
}

.comment .comment-meta-first .comment-avatar {
    @apply mb-1.5 md:justify-start justify-center flex md:block;
}

.comment .comment-meta-first .comment-author {
    @apply text-customDarkblue text-sm mb-1.5;
}

.comment .comment-meta-first .comment-date {
    @apply text-customLightgraytwo text-sm pb-4;
}

.comment .comment-meta-first .comment-reply-link {
    @apply text-customLightblue text-sm;
}

.woocommerce-cart article.page .woocommerce {
    @apply grid grid-cols-12 gap-x-6
}

.woocommerce-error, .woocommerce-info, .woocommerce-message, .return-to-shop, .cart-empty.woocommerce-info,
.woocommerce-cart article.page .woocommerce .woocommerce-notices-wrapper {
    @apply col-span-12 my-4;
}

.button.wc-backward {
    @apply bg-customDarkblue text-white font-black hover:bg-customRed focus-visible:bg-customRed !important
}

.woocommerce-cart article.page .woocommerce .woocommerce-cart-form {
    @apply col-span-12 md:col-span-8
}

.woocommerce-cart article.page .woocommerce .cart-collaterals {
    @apply col-span-12 md:col-span-4
}

.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals {
    @apply bg-customLightgraytwo rounded-b-md px-6 py-7 md:col-span-4
}

.woocommerce-cart article.page .woocommerce table.shop_table {
    @apply border-transparent overflow-hidden
}

.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals table.shop_table {
    @apply rounded-none border-t-customBlack/30;
}

.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals h2 {
    @apply pb-4 font-bold;
}

.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals table.shop_table .cart-subtotal > * {
    @apply border-b border-customBlack/30;
}

.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals table.shop_table .order-total > * {
    @apply border-t border-customBlack/30;
}

.woocommerce table.shop_table th {
    @apply text-base
}

.woocommerce table.shop_table td {
    @apply text-sm
}

.woocommerce table.shop_table td.product-subtotal {
    @apply text-[17px]
}

.woocommerce table.shop_table td.product-subtotal .woocommerce-Price-currencySymbol {
    @apply text-xs
}

.woocommerce-cart article.page .woocommerce table.shop_table.woocommerce-cart-form__contents {

}

.woocommerce-cart article.page .woocommerce table.shop_table.woocommerce-cart-form__contents thead {
    @apply bg-customGray text-white
}

.woocommerce-cart article.page .woocommerce table.shop_table.woocommerce-cart-form__contents thead th {
    @apply text-center
}

.woocommerce-cart article.page .woocommerce table.shop_table.woocommerce-cart-form__contents tbody tr.cart_item {
    @apply even:bg-customDarkblue/10 odd:bg-customDarkblue/5;
}

.woocommerce-cart article.page .woocommerce table.cart img {
    @apply w-16 h-14;
}

.woocommerce-cart article.page .woocommerce table.cart .quantity-container {
    @apply rounded-md bg-white flex border border-customGray w-auto h-11 py-3
}

.woocommerce-cart article.page .woocommerce table.cart .input-text.qty {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    @apply border-x border-customLightgraytwo
}

.woocommerce-cart article.page .woocommerce table.cart .plus,
.woocommerce-cart article.page .woocommerce table.cart .minus {
    @apply px-2 text-base
}

.woocommerce-cart article.page .woocommerce .cart-collaterals,
.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals {
    @apply float-none w-full
}

.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals table tr th,
.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals table .cart-subtotal td,
.woocommerce-cart article.page .woocommerce .cart-collaterals .cart_totals table tr td {
    @apply leading-7 py-3 px-4 border-t border-customLightgraytwo
}

.woocommerce-cart article.page .woocommerce .coupon .input-text {
    @apply w-44 rounded-md border-customGray h-10
}

.woocommerce-cart article.page .woocommerce button.button[name="update_cart"] {
    border: inherit;
    @apply border-inherit bg-white border-[1px] h-10 border-customLightblue rounded-md text-sm text-center
}

.woocommerce-cart article.page .woocommerce .coupon button.button[name="apply_coupon"],
.woocommerce-cart article.page .woocommerce a.button.alt {
    @apply bg-customDarkblue text-white h-10
    hover:bg-customRed hover:text-white
    focus:bg-customRed focus:text-white py-0 leading-10 whitespace-nowrap
}

.woocommerce-checkout .select2-container--default .select2-selection--single,
.woocommerce-checkout .input-text {
    @apply py-1.5 px-4 h-10 bg-customLightgraytwo/30 rounded-md border border-customLightgraytwo
    focus:border-customDarkblue focus:border
    focus-visible:border-customDarkblue focus-visible:border
    focus-within:border-customDarkblue focus-within:border
}

.woocommerce-checkout label {
    @apply text-sm text-customDarkblue/75;
}

.woocommerce .order_review_sidebar {
    @apply rounded-five md:px-7 md:pt-5 md:pb-9 border border-customLightgraytwo;
}

.woocommerce .order_review_sidebar #order_review_heading {
    @apply text-center pt-5 pb-8 bg-customDarkblue/10
}

.woocommerce .order_review_sidebar .woocommerce-checkout-review-order-table {
    @apply bg-customDarkblue/10 border-collapse;
}

.woocommerce .order_review_sidebar .woocommerce-checkout-review-order-table tfoot .cart-subtotal,
.woocommerce .order_review_sidebar .woocommerce-checkout-review-order-table thead {
    @apply bg-customLightSky/40
}

.woocommerce .order_review_sidebar .woocommerce-checkout-review-order-table tfoot .cart-subtotal th,
.woocommerce .order_review_sidebar .woocommerce-checkout-review-order-table thead th {
    @apply border-l-transparent
}

.woocommerce .order_review_sidebar .button-place-order {
    @apply bg-customDarkblue text-white rounded-md w-full py-2 mt-4 block !float-none
    hover:bg-customRed hover:text-customDarkblue
    focus:bg-customRed focus:text-customDarkblue
}

.woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total th, .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total td {
    @apply bg-customLightblue h-[58px];
}

.woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total .amount {
    @apply text-[22px] -my-2.5;
}

.woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total .amount .woocommerce-Price-currencySymbol {
    @apply text-xs !font-light text-right;
}

.woocommerce table.shop_table {
    @apply overflow-hidden;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    @apply bg-transparent;
}

#add_payment_method #payment, .woocommerce-cart #payment .payment_methods, .woocommerce-checkout #payment .payment_methods {
    @apply flex justify-start w-full relative gap-2 flex-row !border-none;
}

#add_payment_method #payment, .woocommerce-cart #payment .payment_methods .input-radio, .woocommerce-checkout #payment .payment_methods .input-radio {
    @apply accent-customRed my-4 mx-0;
}

#add_payment_method #payment, .woocommerce-cart #payment .payment_methods .payment_box, .woocommerce-checkout #payment .payment_methods .payment_box {
    @apply absolute left-4 right-4 !hidden;
    width: calc(100% - 2rem);
}

#add_payment_method #payment, .woocommerce-cart #payment .payment_methods label img, .woocommerce-checkout #payment .payment_methods label img {
    @apply hidden;
}

#add_payment_method #payment, .woocommerce-cart #payment .payment_methods .payment_box:before, .woocommerce-checkout #payment .payment_methods .payment_box:before {
    @apply content-none;
}

.woocommerce-terms-and-conditions-wrapper {
    @apply bg-customDarkblue/10 text-customDarkblue py-3 px-4 rounded-five;
}

#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
    @apply ml-4 leading-3;
}

header .icon-trolley {
    @apply md:text-3xl text-4xl md:leading-[2rem]
}

.paginate-btn.active {
    @apply border-customDarkWhite bg-customLightblue text-white
}

.paginate-btn {
    @apply flex border border-customDarkWhite rounded-md p-2 px-3 gap-2 text-customGray hover:bg-customLightblue transition ease-in-out hover:text-white
}

.min-w-1\/2 {
    min-width: 50%;
}

.w-388 {
    width: 388px;
}

.btn-cart-icon {
    @apply flex md:text-3xl text-6xl text-customGray md:text-white
}

.brands-box {
    @apply container pb-7 flex flex-wrap w-full mx-auto px-5 sm:px-6 lg:px-8 !important;
}

.brands-box .item {
    /*group*/
    @apply col-span-1 w-full flex flex-wrap transition duration-150  transform
}

.brands-box .owl-item .item {
    @apply block w-full;
}

.brands-box .owl-item {
    @apply pb-4;
}

.brands-box .item img {
    @apply w-full grayscale flex rounded-md group-hover:grayscale-0
}

.owl-slider .item, .owl-slider .owl-stage {
    @apply flex;
}

.owl-slider .item a {
    width: 100%;
}

.owl-slider .item, .owl-slider .item img {
    height: 100%;
}

.owl-carousel.owl-slider .owl-stage-outer {
    @apply -z-10
}

.owl-slider .owl-nav.disabled + .owl-dots {
    @apply z-10 -mt-10
}

.owl-brands .owl-dots .owl-dot span,
.owl-slider .owl-dots .owl-dot span {
    @apply bg-white;
}

.owl-slider .owl-dots .owl-dot.active span, .owl-slider .owl-dots .owl-dot:hover span,
.owl-brands .owl-dots .owl-dot.active span, .owl-brands .owl-dots .owl-dot:hover span {
    @apply bg-customLightblue;
}

.owl-posts .owl-dots .owl-dot span {
    @apply bg-customDarkblue;
}

.owl-posts .owl-dots .owl-dot.active span, .owl-posts .owl-dots .owl-dot:hover span {
    @apply bg-customLightblue;
}

.has-post-thumbnail .summary.entry-summary {
    @apply flex flex-wrap gap-3 col-span-6
}

.has-post-thumbnail .summary.entry-summary h1 {
    @apply flex w-full text-xl text-customDarkblue font-bold
}

.woocommerce .single-product-title {
    @apply mb-7;
}

.woocommerce .single-product-title .product_title {
    @apply text-xl text-customDarkblue font-bold
}

.woocommerce .single-product-title .subtitle {
    @apply text-base text-customDarkblue font-normal
}

.woocommerce span.onsale {
    @apply hidden -left-2 right-auto top-10 text-xs leading-none;
}

.woocommerce .like-product-button {
    @apply float-left;
}

.woocommerce .share-links {
    @apply float-left relative px-2 pb-4;
}

.woocommerce .share-links .share-items {
    @apply hidden absolute left-full top-0 w-0 transition duration-300 transition-all;
}

.woocommerce .share-links:hover .share-items {
    @apply block w-auto bg-white;
}

.woocommerce .share-links .share-items .social-share-list {
    @apply flex gap-x-2;
}

.social-share-list .telegram:hover .svg-icon {
    fill: #0088cc;
}

.social-share-list .whatsapp:hover .svg-icon {
    fill: #25D366;
}

.social-share-list .facebook:hover .svg-icon {
    fill: #4267B2;
}

.social-share-list .linkedin:hover .svg-icon {
    fill: #006192;
}

.social-share-list .gmail:hover .svg-icon {
    fill: #1da1f2;
}

.social-share-list .twitter:hover .svg-icon {
    fill: #1da1f2;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    @apply w-full float-none;
}

.product-main-category {
    @apply flex w-full text-base justify-start gap-x-7 gap-y-3 pb-2 border-b border-customLightgray2 flex-wrap md:flex-nowrap
}

.product-main-category .posted_in {
    @apply flex gap-1 font-medium text-base text-customDarkblue
}

.product-main-category .posted_in a {
    @apply text-customRed font-bold text-base font-light
}

.woocommerce-product-details__short-description {
    @apply flex w-full flex-shrink text-base text-customDarkblue
}

.product form.cart {
    @apply flex w-full flex-wrap border border-customLightgray2 rounded-md justify-center
}

.product-box-container {
    @apply md:grid gap-20 lg:px-36 md:grid-cols-11 flex flex-wrap
    /*grid-template-columns : repeat(11,minmax(0,1fr));*/
}

.short-description-container {
    @apply col-span-6 w-full
}

.gallery-container {
    @apply col-span-5 w-full
}

.gallery-container .flex-viewport {
    @apply border border-customLightgray2 rounded-five mb-4
}

.woocommerce div.product .gallery-container div.images .flex-control-thumbs {
    @apply flex gap-4 mt-4 overflow-x-auto mb-2;
}

.flex-control-thumbs::-webkit-scrollbar {
    @apply w-1 h-1 bg-customLightgraytwo mt-2
}

.flex-control-thumbs::-webkit-scrollbar-button {
    @apply bg-customBlack w-0 h-0
}

.flex-control-thumbs::-webkit-scrollbar-track-piece {
    @apply bg-customLightgray
}

.flex-control-thumbs::-webkit-scrollbar-thumb {
    @apply bg-customBlack
}

.woocommerce div.product div.images .flex-control-thumbs li {
    @apply w-full float-none col-span-3 overflow-hidden border border-customLightgray2 rounded-five basis-1/5 grow-0 shrink-0
}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active, .woocommerce div.product div.images .flex-control-thumbs li img:hover {
    @apply border border-customDarkblue overflow-hidden rounded-five
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    @apply clear-none
}

.woocommerce .woocommerce-product-rating {
    @apply inline-block mb-2
}

.single-product-add-to-cart {
    @apply bg-customLightgraytwo/5 border border-customLightgraytwo rounded-five pt-5 px-8 mt-6 overflow-hidden
}

.short-description-title {
    @apply text-customDarkblue text-base font-medium whitespace-nowrap ml-4
}

.woocommerce-product-details__short-description ul {
    @apply flex flex-wrap gap-3
}

.woocommerce-product-details__short-description ul li {
    @apply min-w-full md:min-w-[48%] md:text-sm
}

.woocommerce .product .mobile-single-product .product-title {
    @apply text-[17px] leading-[22px] font-bold text-customDarkblue mb-6
}

.woocommerce .product .mobile-single-product .product-subtitle {
    @apply text-[12px] leading-[16px] font-normal text-customDarkblue mb-11
}

.woocommerce .product .mobile-single-product .star-rating::before {
    @apply text-customGray content-['SSSSS']
}

.woocommerce .product .mobile-single-product .star-rating span {
    @apply text-customYellow
}

.woocommerce .product .mobile-single-product .woocommerce-review-link {
    @apply text-customGray text-sm
}

.woocommerce .product .mobile-single-product .product-sharing {
    @apply text-customGray
}

.woocommerce .product .mobile-single-product .product-sharing .like-product-button {
    @apply mr-6
}


.woocommerce .single-product-add-to-cart .price {
    @apply flex items-center justify-center w-full mb-6 text-customRed
}

.woocommerce div.product span.price {
    @apply flex flex-row gap-4;

}

.woocommerce div.product p.price {
    @apply text-customRed font-bold text-[27px]
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    @apply text-black text-lg font-bold;
}

.woocommerce div.product p.price del span.woocommerce-Price-currencySymbol, .woocommerce div.product span.price del span.woocommerce-Price-currencySymbol {
    @apply font-normal text-xs;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    @apply no-underline text-customRed text-[27px]
}

.woocommerce div.product p.price ins span.woocommerce-Price-currencySymbol, .woocommerce div.product span.price ins span.woocommerce-Price-currencySymbol {
    @apply text-xs font-light;
}

.product .single-product-add-to-cart form.cart {
    @apply border-none flex gap-4 w-full mt-4 justify-center items-center
}

.product .mobile-single-product form.cart .quantity,
.product .single-product-add-to-cart form.cart .quantity {
    @apply flex bg-white
}

.product .mobile-single-product form.cart .quantity .quantity-container,
.product .single-product-add-to-cart form.cart .quantity .quantity-container {
    @apply border py-2 px-3 border-customLightGray rounded-md
}

.product .mobile-single-product form.cart .quantity .quantity-container button.plus,
.product .single-product-add-to-cart form.cart .quantity .quantity-container button.plus {
    @apply border-l pl-3;
    border-color: #C6C6C6;
}

.product .mobile-single-product form.cart .quantity .quantity-container button.minus,
.product .single-product-add-to-cart form.cart .quantity .quantity-container button.minus {
    @apply border-r pr-3;
    border-color: #C6C6C6;
}

.woocommerce .mobile-single-product button.single_add_to_cart_button {
    @apply flex fixed bottom-0.5 w-full bg-customLightblue text-white rounded-five z-30 items-center justify-center left-0 right-0 float-none leading-[45px]
}

.woocommerce .mobile-single-product button.single_add_to_cart_button .icon {
    @apply text-white text-[26px]
}

.woocommerce .mobile-single-product {

}

.woocommerce .mobile-single-product form.cart,
.woocommerce .mobile-single-product .variations_form {
    @apply p-4 -mx-4 flex flex-col gap-4 items-center justify-center w-auto rounded-none
}

.woocommerce .variations_form .variations .value select {
    @apply bg-white px-4 py-2 rounded-five border border-customLightGray w-full h-full
    focus:border-customDarkblue focus:outline-none
    focus-visible:border-customDarkblue focus-visible:outline-none
}


.woocommerce .mobile-single-product .tab-title {
    @apply flex justify-center items-center p-3 bg-customLightgray3 border border-customLightgraytwo text-sm -mx-4
}

.woocommerce .mobile-single-product .tab-title .tab-icon {
    @apply text-customLightblue mx-1 h-[30px]
}

.woocommerce .mobile-single-product .tab-title .tab-icon .svg-icon * {
    @apply fill-customLightblue
}

.woocommerce .mobile-single-product .product-tab {
    @apply mb-12
}

.woocommerce .mobile-single-product table.shop_attributes th.woocommerce-product-attributes-item__label {
    @apply w-auto py-0.5 px-2 whitespace-nowrap
}

.woocommerce .mobile-single-product table.shop_attributes td.woocommerce-product-attributes-item__value {
    @apply py-0.5 px-1
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes {
    @apply border-collapse overflow-hidden;
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes tr th {
    @apply border-r border-customLightgray2
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes tr td {
    @apply border-l border-customLightgray2 relative
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes tr:first-child th {
    @apply border-t  border-customLightgray2 rounded-tr-five
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes tr:first-child td {
    @apply border-t  border-customLightgray2 rounded-tl-five
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes tr:last-child th {
    @apply border-b border-customLightgray2 rounded-br-five
}

.woocommerce .mobile-single-product .woocommerce-product-attributes.shop_attributes tr:last-child th {
    @apply border-b border-customLightgray2 rounded-bl-five
}

.woocommerce .mobile-single-product .tab-content {
    @apply pt-8 overflow-hidden
}

.woocommerce .mobile-single-product form.comment-form {
    @apply flex flex-col
}

.product .mobile-single-product .main-footer-logo,
.product .single-product-add-to-cart .main-footer-logo {
    @apply flex flex-nowrap bg-customLightgray3 gap-3 justify-center py-2 md:px-8 mt-4 -mx-4 text-sm
}

.product .mobile-single-product .main-footer-logo {
    @apply mb-12
}


.woocommerce .mobile-single-product .tab-title .tab-icon .svg-icon * {
    fill: rgb(80 168 234/var(--tw-text-opacity));
}

.woocommerce .mobile-single-product .comment_container {
    @apply flex flex-col justify-center w-full gap-4
}

.woocommerce .mobile-single-product .comment_container * {
    @apply !float-none block
}

.woocommerce .mobile-single-product .comment_container img.avatar {
    @apply !relative !mx-auto !w-[64px] h-auto !border-none !bg-transparent
}

.woocommerce .mobile-single-product #reviews #comments ol.commentlist li .comment-text {
    @apply !m-0
}

.woocommerce .mobile-single-product .comment_container .comment-text {
    @apply !border-none
}

.woocommerce .mobile-single-product .comment_container .comment-text .meta {
    @apply text-center
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: left;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
}

.woocommerce-tabs-container {
    @apply lg:mt-16 lg:px-36
}

.woocommerce-tabs.wc-tabs-wrapper {
    @apply flex w-full flex-wrap border border-customLightgray2 bg-customLightgray2/10 rounded-md justify-center !important
}

.woocommerce-tabs.wc-tabs-wrapper ul.tabs {
    @apply flex flex-wrap bg-customLightgray3 gap-6 border-b border-customLightgray2 w-full p-2 px-4 before:hidden !important;
    overflow: inherit !important;
}

.woocommerce-tabs.wc-tabs-wrapper ul.tabs li {
    @apply flex before:border-none before:shadow-none before:right-0 after:border-none after:shadow-none after:left-0 bg-customLightgray3 gap-2 border-0 items-center relative !important;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    @apply !font-normal
}

.woocommerce-tabs.wc-tabs-wrapper ul li.active {
    @apply bg-customLightgray3 before:absolute
    before:mx-auto
    before:rounded-full
    before:w-full
    before:right-0
    before:bg-customLightblue
    before:-bottom-3 after:hidden !important;
}

.woocommerce-tabs.wc-tabs-wrapper ul li .tab-icon {
    @apply ml-4;
}

.woocommerce-tabs.wc-tabs-wrapper ul li.active .tab-icon svg,
.woocommerce-tabs.wc-tabs-wrapper ul li.active .tab-icon svg * {
    @apply fill-customLightblue
}

.woocommerce-tabs.wc-tabs-wrapper ul li a {
    @apply flex text-sm text-customDarkblue !important;
}

.woocommerce div.product .woocommerce-tabs .panel {
    @apply w-full lg:py-12 md:py-10 py-3 lg:px-16 md:px-12 px-6
}

.woocommerce table.shop_attributes {
    @apply border-none border-separate border-spacing-x-3.5 border-spacing-y-0
}

.woocommerce table.shop_attributes tr:first-child th, .woocommerce table.shop_attributes tr:first-child td {
    @apply rounded-t border-customLightgray2;
    border-top: 1px solid rgb(216 216 216/var(--tw-border-opacity));
}

.woocommerce table.shop_attributes tr:last-child th, .woocommerce table.shop_attributes tr:last-child td {
    @apply rounded-b border-b border-t-customLightgray2
}

.woocommerce table.shop_attributes th {
    @apply w-[170px]
}

.woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td {
    @apply border-x border-customLightgray2 bg-white px-6 py-0.5 font-normal not-italic border-b text-customDarkblue text-base leading-[1rem];
}

.woocommerce table.shop_attributes tr:nth-child(even) th {
    @apply bg-white
}

.woocommerce table.shop_attributes tr:nth-child(even) td {
    @apply bg-customLightgraytwo/20
}

.woocommerce .commenter-data-container {
    @apply flex grid-cols-12 gap-4;
}

.woocommerce .comment-data {
    @apply col-span-4
}

/*.woocommerce .form-control {*/
/*    @apply bg-white px-4 py-2 rounded-five border border-customLightGray w-full h-full*/
/*    focus:border-customDarkblue focus:outline-none*/
/*    focus-visible:border-customDarkblue focus-visible:outline-none*/
/*}*/

.woocommerce #reviews .title-container {
    @apply hidden;
}

.woocommerce #reviews #comment {
    @apply h-40 border border-customLightgray2 rounded
}

.woocommerce #reviews .comment-form .form-submit .btn.submit {
    @apply order-2
}

.woocommerce #reviews .comment-form .form-submit .comment-form-rating {
    @apply order-1 mb-0 mx-8 mt-4
}

.woocommerce #reviews .comment-form .form-submit .comment-form-rating .stars {
}

.woocommerce p.stars a:before {
    @apply text-customBlack content-["\e020"]
}

.woocommerce p.stars:hover a:before {
    @apply text-customYellow
}

.woocommerce p.stars a:hover ~ a::before {
    @apply text-customBlack content-["\e020"];
}

.woocommerce p.stars.selected a:before {
    @apply text-customYellow
}

.woocommerce p.stars.selected a.active ~ a::before {
    @apply text-customBlack content-["\e020"]
}

.woocommerce #reviews .comment-form .form-submit .comment-form-rating label {
    @apply hidden
}


.woocommerce .comment-form-comment {
    @apply w-full col-span-8
}

.woocommerce .comment-form-cookies-consent {
    @apply hidden
}

.archive.woocommerce-page.tax-product_cat .title-box-container {
    @apply relative w-full md:flex md:flex-wrap md:border md:border-customGray md:rounded-md md:p-5
}

.archive.woocommerce-page.tax-product_cat .child-categories {
    @apply flex flex-wrap gap-x-3 gap-y-1 w-full
}

.archive.woocommerce-page.tax-product_cat .child-categories a.btn-custom-outline-dark-blue {
    @apply py-1.5
}

.filter-button, .orderby-container {
    @apply gap-4 relative w-full flex justify-start items-stretch border border-customLightgray2 text-customLightgray2 rounded-[2px] p-[5px] text-xs leading-[25px];
}

.orderby-container .svg-icon {
    @apply z-1
}

.orderby-container select {
    @apply appearance-none bg-white absolute w-full h-full pr-12 top-0 right-0
}

.sidebar-filter-container {
    @apply col-span-3 block flex-wrap;
}

.mobile-sidebar-filter-container {
    @apply w-full block flex-wrap rounded-t-five fixed top-0 z-[40] bg-white -right-[100%] transition transition-all
}

.mobile-sidebar-filter-container.active {
    @apply right-0 transition transition-all
}

.is-mobile.archive:not(.woocommerce-shop) .product-tabs-content.active {
    @apply flex-col gap-5
}

.is-mobile.archive .archive-product-item {
    @apply flex justify-between items-stretch flex-col border border-customDarkblue/10 rounded-five overflow-hidden pl-1.5 pr-3 py-2.5
}

.is-mobile.archive .archive-product-item .product-tabs-content.active {
    @apply flex-col gap-5
}

.is-mobile.archive .archive-product-item .item-title {
    @apply flex justify-between items-stretch;
}

.is-mobile.archive .archive-product-item .item-price {
    @apply flex items-start flex-row justify-end font-bold text-lg gap-8
}

.is-mobile.archive .archive-product-item .item-price .woocommerce-Price-amount.amount bdi {
    @apply text-customLightblue border-none;
}

.is-mobile.archive .archive-product-item .item-price ins {
    text-decoration: none;
}

.is-mobile.archive .archive-product-item .woocommerce-Price-amount.amount span.woocommerce-Price-currencySymbol {
    @apply text-xs font-light
}

.is-mobile.archive .archive-product-item .item-price del {
    @apply decoration-0 relative text-customBlack after:absolute after:h-px after:w-full after:right-0 after:top-1/2
}

.is-mobile.archive .archive-product-item .item-price del .woocommerce-Price-amount.amount bdi {
    @apply text-customBlack
}

.is-mobile.archive .archive-product-item h4.product-title {
    @apply pt-3.5
}

.is-mobile.archive .archive-product-item img {
    @apply w-[110px] h-20
}


.text-22 {
    @apply !text-[22px]
}

.text-40 {
    @apply !text-[40px]
}

.basket-logo {
    @apply md:text-3xl text-40 !important;
}

.text-white {
    @apply !text-white;
}

footer .footer-list h2 {
    @apply text-white text-base_16 font-bold
}

.main-footer-social {
    @apply w-full md:w-auto
}

footer svg.svg-icon {
    @apply fill-white w-5 h-5 md:w-6 md:h-6
}

.main-footer-list {
    @apply footer-list block flex-wrap gap-4 col-span-1 w-full
}

.footer-list {
    @apply last:col-span-2 last:md:col-span-1
}

.footer-list .menu-primary-container {
    @apply overflow-hidden
}

.footer-list:last-child ul {
    @apply flex flex-wrap w-full md:block;
}

.footer-list:last-child li {
    min-width: calc(50% - 25px);
    @apply md:min-w-full;
}

.footer-list:last-child li:nth-child(even) {
    @apply mr-[25px] md:mr-0;
}

.form-input {
    @apply rounded-md bg-customLightgray4 py-3 px-5
}

.main-contact-form form {
    @apply flex flex-wrap w-full gap-3 lg:pl-12 pl-0

}

.main-contact-form form div span input, .main-contact-form form div span textarea {
    @apply flex flex-wrap;
    width: 307px;

}

.main-contact-form div {
    @apply text-base_14 md:text-base_16 flex justify-between gap-16 w-full items-center
}

.main-contact-form div span {
    @apply flex
}

.main-contact-form div label {
    @apply hidden md:block
}

.main-contact-form div span:last-child label {
    @apply flex w-full
}

.main-contact-form form div:not([aria-hidden="true"]) label span {
    @apply after:content-['*']
}

.main-contact-form form div:nth-child(6) {
    @apply justify-start md:justify-end
}

.main-contact-form div span:last-child span:last-child {
    @apply hidden
}

.main-contact-form div span:last-child input[type="submit"] {
    @apply flex justify-center
}

.main-contact-form .form-input {
    @apply text-base_12
}

.main-contact-form div[role="form"] {
    @apply flex flex-wrap w-full
}

.main-contact-form div[role="form"] {
    @apply flex flex-wrap w-full
}

.main-contact-form form .btn {
    @apply flex flex-wrap bg-customDarkblue p-2 text-base text-white rounded-md
}

.main-contact-form div[role="form"] {

}

.comment-respond .logged-in-as {
    @apply hidden !important
}

.comment-respond .comment-textbox {
    /*@apply col-span-3 !important*/
}

.main-brands-list {
    @apply grid gap-x-6 gap-y-12 md:grid-cols-4 grid-cols-2
}